/* Assurez-vous que le body prend toute la hauteur de la fenêtre */
body {
    font-family: "Lato", sans-serif;
    transition: margin-left .5s;
    padding: 0;
    margin: 0;
    background-image: url(''); /* Assurez-vous que le nom de l'image est correct */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
    display: flex; /* Utilise Flexbox pour centrer les éléments */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    text-align: center; /* Centre le texte */
    position: relative; /* Nécessaire pour le positionnement absolu des éléments enfants */
}

.start-button {
    background-color: black;
    color: white;
    padding: 25px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
    width: auto; /* Ajuste la largeur du bouton automatiquement */
    margin: 20px; /* Ajoute un espace autour du bouton */
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 9px;
    visibility: visible;
    position: absolute;
    top: 10%; /* Ajustez selon la position désirée */
    left: 50%;
    transform: translateX(-50%); /* Centre horizontalement */
}

.sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 0%;
    background-color: #007acc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    border-radius: 5px;
}

.closebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    border-radius: 9px;
    border: 0;
    position: absolute;
    top: 5px; /* Ajustez selon la position désirée */
    right: 5px; /* Ajustez selon la position désirée */
}

.sidebar a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    font-size: 1.6cm;
    font-weight: bold;
    color: red;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-decoration: none;
    margin: 0px 15px 15px 15px;
    background-color: white;
}

.openbtn:hover {
    background-color: #111;
}
.closebtn:hover {
    background-color: #111;
}
option{
    margin: 4rem;
    padding: 1rem;
    border-radius: 40px;
    
}
select{
    margin: 4rem;
    padding: 1rem;
    border-radius: 40px;
    
}





#question-text {
    font-size: 18px;
    margin-bottom: 20px;
    color: violet;
}

#options {
    margin-bottom: 20px;
}

#options button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#score {
    font-size: 18px;
    margin-bottom: 20px;
    color: violet;
}

#next-button, #retry-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color:violet;
}.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    
    font-size: 25px;
    color:#001e4d;
    font-weight: 600;
    border-bottom: 30px;
}